@charset "UTF-8";

@media only screen and (max-width: 425px) {
    body {
        background: #375F53 url('../images/fundo-phone.jpg') center center no-repeat fixed;
        background-size: cover;
        padding: 50px 8px;

    }

    h1 {
        font-size: 1.8em;
    }

    #main {
        padding: 30px 15px;
        margin-top: 50px;
    }

    form {
        font-size: 20px;
    }

    footer, footer a {
        font-size: 20px;
    }
}