@charset "UTF-8";

@media only screen and (max-width: 425px) {
    body {
        background-image: url(../images/fundo-phone.jpg);
        padding: 40px 8px;

    }

    h1 {
        font-size: 1.8em;
    }

    #main {
        padding: 30px 15px;
        margin-top: 45px;
    }

    form {
        font-size: 20px;
    }

    footer, footer a {
        font-size: 20px;
    }
}